@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --veryDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --box-shadow: 0px 12px 21px -1px hsl(229, 6%, 66%, 0.31);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--veryLightGray);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    min-height: 100vh;
}
.main_container {   
    margin: 5.3rem auto;
    width: 315px;
}
.text_container {
    text-align: center;
    margin-bottom: 80px;
}
.text_container h1 {
    color: var(--veryDarkBlue);
    font-size: 1.54rem;
    font-weight: 200;
}
.text_container p {
    color: var(--veryDarkBlue);
    font-size: 1.54rem;
    font-weight: 700;
    margin-bottom: 25px;
} 
.text_container span {
    color: var(--grayishBlue);
    font-weight: 400;
}
.card_container {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.card_item {
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    height: 235px;
    margin-bottom: 30px;
    padding: 25px 30px 30px;
    width: 315px;
    text-align: end;
}
.card_item h2 {
    text-align: start;
    color: var(--veryDarkBlue);
}
.card_item p {
    text-align: start;
    color: var(--grayishBlue);
    font-size: 0.85rem;
    line-height: 25px;
}
.card_item img {
    margin-top: 30px;
}
.card_supervisor {
    border-top: 5px solid var(--cyan);
}
.card_team {
    border-top: 5px solid var(--red);
}
.card_karma {
    border-top: 5px solid var(--orange);
}
.card_calculator {
    border-top: 5px solid var(--blue);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@media screen and (min-width:980px) {
    .main_container {
        width: 100%;
    }
    .text_container {
        width: 500px;
        margin: 0 auto 65px;
    }
    .text_container h1, .text_container p {
        font-size: 2.3rem;
    }
    .card_container {
        column-gap: 30px;
        flex-flow: row nowrap;
    }
    .card_item {
        height: 250px;
        width: 350px;
    }
    .card_item img {
        margin-top: 40px;
    }
}